<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">
    <display-name>Сервлет Controller</display-name>
    <!--
    Для любого сервлета нужно определить два тега servlet и servlet-mapping.
    Важно чтобы внутри каждого из этих тегов были теги servlet-name
    и имя сервлета в них было одинаковым!!! Здесь это имя Controller
    -->
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>by.it.artiuschik.project2.java.controller.FrontController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/do</url-pattern>
    </servlet-mapping>
    <!--Регистрация фильтра-->
    <filter>
        <filter-name>FilterUTF8</filter-name>
        <filter-class>by.it.artiuschik.project2.java.filtres.FilterUTF8</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>FilterCookie</filter-name>
        <filter-class>by.it.artiuschik.project2.java.filtres.FilterCookie</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterUTF8</filter-name>
        <servlet-name>FrontController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterCookie</filter-name>
        <servlet-name>FrontController</servlet-name>
    </filter-mapping>

</web-app>